.title {
    text-align: center;
}

.gender_label_count, .rate_group, .duration {
    mat-form-field {
        margin-right: 11px;
    }
}

.file-container {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 12px;

    .file {
        opacity: 0;
        //padding: 5rem;
        width: auto;
        // height: 5rem;
        //margin-bottom: 10px;
    }
}