<div class="row">
    <div *ngIf="currentSection === 'aboutus'">
        <mat-card class="card">
            <div mat-dialog-title class="title">
                <h1><b>ABOUT US</b></h1>
            </div>
            <p>The EVSU Extension and Public Services Office (EPSO) is fundamentally a well thought out academic attempt 
               to cascade its developed and tested technology for the utility of a focused community partner (FCP). 
               It is a scholarly attempt made up of members of the faculty, administrators and support personnel, 
               together with the elected partners that passionately exhibit the same leadership foresights. 
               The programs and projects shall dwell and thrive in a values driven and educating-learning academic milieu. 
               An extension career in EVSU is believed to be more of a vocation that is primarily rolled out to organize, 
               orchestrate and execute a purposive-collaborative activity utilizing an informed process of situational analysis, 
               gaps identification and consensus building directed towards a particular end (extension agenda) that is designed 
               and built on activities of socio-economic empowerment of the individuals, families and communities 
               that are generally measured as economically challenged. The principal mission of the Office is the empowerment 
               of the people in the partner-community. The EVSU extension community initializes in nurturing of a sustainable 
               pro-active environment where the faculty members and the support staff accomplish the desired extension outcomes, 
               not because of their expertise or competence, empowerment, and accountability, but because they care 
               and find genuine self-fulfillment in helping others.</p>
    
        </mat-card>
    </div>

    <div *ngIf="currentSection === 'urdea'">
        <mat-card class="card">
            <div mat-dialog-title class="title">
                <h1><b>University Research & Development and Extension Agenda (URDEA)</b></h1>
            </div>
            <p>The principal thrusts of the Research, Development and Extension Office is generally based on researches and extension programs 
                that bespoke the socio-economic improvement of the quality of life of the people in the region, believing that it would consequently 
                impact on the economic development of the country as well. Inherent in the program are research and extension projects 
                that are basically anchored on the advance of new knowledge, innovative technology, development of novel skill/competence, 
                and inventive product development that can be utilized by the community, and can be used for product commercialization. 
                URDEA abides by the concept and principled practice of putting EVSU into the heart of the community (communiversidad), 
                and employs resources convergence from among agencies with parallel passion.EVSU adopts the following thrusts for establishing 
                priorities in developing, processing and funding research and development and extension programs and projects:</p>
    
            <strong><ul>
                <li>
                    <span>Poverty Reduction;</span>
                </li>
                <li>
                    <span>Food Security;</span>
                </li>
                <li>
                    <span>Nutrition and Health;</span>
                </li>
                <li>
                    <span>Climate Change Adaptation and Disaster Mitigation Management.</span>
                </li>
                <li>
                    <span>Inclusive Economic Growth;</span>
                </li>
                <li>
                    <span>Good Governance and Public Resource Management;</span>
                </li>
                <li>
                    <span>Human Capital Development;</span>
                </li>
                <li>
                    <span>Gender and Development;</span>
                </li>
                <li>
                    <span>“Waray” Culture and Arts;</span>
                </li>
            </ul></strong>
    
            <p>
                The RDE agenda of the institutional partners, project collaborators and other client organizations 
                (local or international), as may be determined by the University RDE Council (URDEC), shall likewise 
                form part of the University’s URDEA.
            </p>
    
        </mat-card>
    </div>
</div>