.example-container {
    position: inherit;
  }
  
  .example-sidenav-content {
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    bottom: 78px;
    display: flex;
    justify-content: center;
  }
  
  .example-sidenav {
    width: 13rem;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    top: 0;
    bottom: 0;
    left: 0;

    .sidenav_anchor a{
      text-decoration: none;
      color: #000000;
    }

    .userprofile p{
      color: rgb(0, 0, 0);
    }

    .themecontainer {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin-top: 2.7rem;
    
      button {
        background: none;
        border: none;
      }
    }
    
  }

  .sidenav_anchor:hover{
    background: #3a3a3bb5;
    height: 48px;
  }

  .sidenav_anchor:active {
    background: #3a3a3bb5;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .example-icon {
    min-width: 0px;
    padding-left: 0px;
  }

  .toolbar {
    background-color: #900303 !important; 
    height: 50px; 
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .toolbar-right{
    display: flex;
  }

  .col-sm-6, .col-md-6, .col-lg-3{
    color: #ffff;
    position: relative;
  }

  .drawer_content {
    position: fixed;
    top: 52px;
    width: -webkit-fill-available;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
  }

  a {
    text-decoration: none;
    color: #ffff;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .material-icons {
    padding-right: 10px;
  }

  .imageProfile{
    border-radius: 50%;
    height: 2rem;
}

.dark-theme {
  background-color: rgb(31, 31, 31);

  .sidenav_anchor a{
    text-decoration: none;
    color: #ffffff;
  }

  .userprofile p{
    color: rgb(255, 255, 255);
  }

  .themecontainer {
    button {
      color: white;
    }
  }
}

//   footer{
//     height: 100%;
//     margin-bottom: auto;
//     background-color: #7c0404 !important;

//     .widget {
//       padding: 1rem 0;
//     }
//   }

//   .column, .columns {
//     width: 100%;
//     float: left;
//     padding-left: 0.9375rem;
//     padding-right: 0.9375rem;
// }

// .widget {
//   overflow: hidden;
//   position: relative;
// }

// aside{
//   display: block;
// }

// .widget .textwidget {
//   font-size: 13px;
// }

// .su-service-title{
//   min-height: 32px;
//   line-height: 32px;
//   display: flex;
//   align-items: center;
// }

// .menu {
//   margin: 0;
//   list-style-type: none;
// }

// .widget_nav_menu ul.menu li a:hover {
//   color: #f6c500 !important;
// }

// .widget .menu li a {
//   display: block;
//   padding: 8px 1rem;
//   line-height: 1;
// }

// ul {
//   padding: 0;
//   line-height: 1.6;
//   list-style-position: outside;
// }

// .widget-title {
//   color: #f6c500;
//   font-weight: bold;
// }

// h3.widget-title {
//   font-size: 18px !important;
//   line-height: 1.3 !important;
// }

// small{
//   color: #ffff;
// }

// .widget_nav_menu ul.menu li {
//   display: block;
// }


@media (width: 320px){.col-sm-6, .col-md-6, .col-lg-3{ .title {span{
    display: none;
}}}}

@media (min-width: 1200px){
.col-lg-3, .col-lg-6 {
    float: left;
}}

// @media screen and (min-width: 64em){
// .large-3 {
//     width: 25%;
// }}

.btnMenu {
  
  padding: 0;
  margin: 0;
  font-size: 12pt;
  display: flex;
  align-items: center;

}

.side-img {
  display: flex; 
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.userprofile p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 4px;
}

.username {
  font-size: inherit;
}

.useremail {
  font-size: small;
  font-weight: lighter;
}


