mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
  }
  
  .header{
    text-align: center;
  
  }
  .full-width {
    width: auto;
  }
  
  .button-row {
    padding-top: 5px;
  }
  
  .button-row a {
    margin-right: 8px;
    text-align: center;
  }
  
  .contentBody {
    min-height: 100%;
    height: 547px;
    padding: 60px 1rem;
    background: #16bca8;
    display: block;
  }
  
  .aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
  }

  #mailIcon {
    text-align: right;
    display: inline;
  }
  