.title {
    padding-top: 10px;
    text-align: center;
}
.content {
    width: fit-content;
    margin: auto;
}

.dialogbtn {
    text-align: center;
    margin-top: 10px;
}

input {
    font-size: 12pt;
}

.file-container {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 4px;
    padding-top: 10px;

    .file {
        opacity: 0;
        //padding: 5rem;
        width: 0;
        // height: 5rem;
        //margin-bottom: 10px;
    }
}

.card-container {
    height: 611px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: none;
}