.title {
    text-align: center;
}

.file-container {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 4px;
    padding-top: 10px;

    .file {
        opacity: 0;
        //padding: 5rem;
        width: 0;
        // height: 5rem;
        //margin-bottom: 10px;
    }
}

.top-snackbar {
    top: 0;
    height: 50px;
    color: white;
    font-weight: bold;
  }