<div mat-dialog-title class="title">
    <h1><b>UPLOAD FILE</b></h1>
</div>

<div mat-dialog-content class="content">
    <form [formGroup]="uploadFileForm" (ngSubmit)="postdata()" enctype="multipart/form-data" >
        <input *ngIf="false" type="number" name="user_id" formControlName="user_id">
        <div class="file-container" *ngIf="!file">
            <input type="file" id="file" name="file" formControlName="file" accept="application/pdf" (change)="onFileSelected($event)">
        </div>

        <div *ngIf="file">
            File name: {{file.name}}<br>
            <button mat-raised-button color="warn" (click)="file = undefined">Clear File</button>
        </div>

        <div mat-dialog-actions class="dialogbtn">
            <button mat-raised-button color="warn" type="button" (click)="dialogClose()">Cancel</button>
            <button mat-raised-button color="primary" type="submit" name="upload">Save</button>
        </div>
    </form>
</div>