
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">person</i>
                      </div>
                        <h3 class="card-title">
                            <b>{{totalUsers}}</b>
                        </h3>
                        <p class="card-category">Users</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">
                                visibility
                            </i>
                            <a routerLink="../view-userlist" routerLinkActive="active">
                                <div class="button">
                                    View   
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">checklist</i>
                      </div>
                      <h3 class="card-title">
                        <b>{{totalAccomplishments}}</b>
                      </h3>
                      <p class="card-category">Quartely Accomplishment</p>
                      
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">
                                visibility
                            </i>
                            <a routerLink="../view-report" routerLinkActive="active" (click)="disableChart()">
                                <div class="button">
                                    View   
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">list_alt</i>
                      </div>
                      <h3 class="card-title">
                        <b>0</b>
                      </h3>
                      <p class="card-category">Actual Accomplishment</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">
                                visibility
                            </i>
                            <a routerLink="../view-actual-report" routerLinkActive="active">
                                <div class="button">
                                    View   
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">download</i>
                      </div>
                      <h3 class="card-title">
                        <b>0</b>
                      </h3>
                      <p class="card-category">Downloads</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">
                                visibility
                            </i>
                            <a routerLink="#" routerLinkActive="active">
                                <div class="button">
                                    View   
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        
        
        </div>
    </div>
</div>
<!-- <div class="spacer"></div> -->
<div class="row">
    <div class="chart-container" [ngStyle]="{'display' : isDisabled ? 'none' : 'block'}">
        <div class="row">
            <div class="col">
                <mat-card class="card-chart">
                    <div id="chart1" >
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="card-chart">
                    <div id="chart2" >
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-card class="card-chart">
                    <div id="chart3" >
                    </div>
                </mat-card>
            </div>

            <div class="col">
                <mat-card class="card-chart">
                    <div id="chart4" >
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
  

<!-- <div class="row">
    <router-outlet></router-outlet>
</div> -->

