<div class="row">
    <mat-card class="content">
        <div class="col-sm-1 col-md-2 col-lg-3">
            <div class="widget-bg-color-icon card-box card-bgcolor-red">
                <div class="bg-icon pull-left">
                    <i class="material-symbols-outlined">
                        person
                    </i>
                </div>
                <div class="text-right">
                    <div class="text-dark">
                        <h3>
                            <b>{{totalUsers}}</b>
                        </h3>
                        <p>Users</p>
                        <a routerLink="../view-userlist" routerLinkActive="active" style="text-decoration: none; color: #fff; display: inline-flex;
                        align-items: center;">
                            View   
                            <i class="material-symbols-outlined" style="display: inline-block; padding-left: 5px;">
                                visibility
                            </i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-1 col-md-2 col-lg-3">
            <div class="widget-bg-color-icon card-box card-bgcolor-green">
                <div class="bg-icon pull-left">
                    <i class="material-symbols-outlined">
                        checklist
                    </i>
                </div>
                <div class="text-right">
                    <div class="text-dark">
                        <h3>
                            <b>{{totalAccomplishments}}</b>
                        </h3>
                        <p>Quartely Accomplishment</p>
                        <a routerLink="../view-report" routerLinkActive="active" style="text-decoration: none; color: #fff; display: inline-flex;
                        align-items: center;" (click)="disableChart()">
                            View   
                            <i class="material-symbols-outlined" style="display: inline-block; padding-left: 5px;">
                                visibility
                            </i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-1 col-md-2 col-lg-3">
            <div class="widget-bg-color-icon card-box card-bgcolor-yellow">
                <div class="bg-icon pull-left">
                    <i class="material-symbols-outlined">
                        list_alt
                    </i>
                </div>
                <div class="text-right">
                    <div class="text-dark">
                        <h3>
                            <b>0</b>
                        </h3>
                        <p>Actual Accomplishment</p>
                        <a routerLink="./viewreports-by-campus" routerLinkActive="active" style="text-decoration: none; color: #fff; display: inline-flex;
                        align-items: center;">
                            View   
                            <i class="material-symbols-outlined" style="display: inline-block; padding-left: 5px;">
                                visibility
                            </i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-1 col-md-2 col-lg-3">
            <div class="widget-bg-color-icon card-box card-bgcolor-skyblue">
                <div class="bg-icon pull-left">
                    <i class="material-symbols-outlined">
                        download
                    </i>
                </div>
                <div class="text-right">
                    <div class="text-dark">
                        <!-- <h3>
                            <b>0</b>
                        </h3> --><br>
                        <p>Printable &<br>Downloadable</p>
                        <a routerLink="#" routerLinkActive="active" style="text-decoration: none; color: #fff; display: inline-flex;
                        align-items: center;">
                            View   
                            <i class="material-symbols-outlined" style="display: inline-block; padding-left: 5px;">
                                visibility
                            </i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </mat-card>
</div>
<div class="spacer"></div>
<div class="row">
    <div class="chart-container" [ngStyle]="{'display' : isDisabled ? 'none' : 'block'}">
        <div class="row">
            <div class="col">
                <mat-card class="card-chart">
                    <div id="chart1" >
                    </div>
                </mat-card>
            </div>
            <div class="col">
                <mat-card class="card-chart">
                    <div id="chart2" >
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-card class="card-chart">
                    <div id="chart3" >
                    </div>
                </mat-card>
            </div>

            <div class="col">
                <mat-card class="card-chart">
                    <div id="chart4" >
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">content_copy</i>
                      </div>
                        <p class="card-category">Used Space</p>
                        <h3 class="card-title">49/50
                            <small>GB</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="#pablo">Get More Space...</a>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Revenue</p>
                      <h3 class="card-title">$34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Revenue</p>
                      <h3 class="card-title">$34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Revenue</p>
                      <h3 class="card-title">$34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
        
        
        </div>
    </div>
</div>
  

<div class="row">
    <router-outlet></router-outlet>
</div>

