* {
    box-sizing: border-box;
}

.content {
    display: block;
    position: fixed;
}

.example-spacer {
    flex: 1 1 auto;
  } 

  .spacer{
    display: block;
  }
  
.card-box {
    padding: 16px;
    border: 1px solid rgba(54, 64, 74, 0.19);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.card-bgcolor-red, .card-bgcolor-green, .card-bgcolor-yellow, .card-bgcolor-skyblue, .card-bgcolor-blue {
    color: #fff;
}

.card-bgcolor-red {
    background-color: #dd4b39 !important;
    border: 1px solid #dd4b39;
    border-bottom: 5px solid #bd301e;
}

.card-bgcolor-yellow {
    background-color: #e7d107 !important;
    border: 1px solid #e7d107;
    border-bottom: 5px solid #a19100;
}

.card-bgcolor-green {
    background-color: #00c721 !important;
    border: 1px solid #00c721;
    border-bottom: 5px solid #028618;
}

.card-bgcolor-skyblue {
    background-color: #01c9e4 !important;
    border: 1px solid #01c9e4;
    border-bottom: 5px solid #0290a3;
}

.col-lg-3, .col-sm-1, .col-md-2{
    position: relative;
    min-height: 1px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.bg-icon i {
    font-size: 60px;
    line-height: 80px;
    color: #fff !important;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.bg-icon {
    width: 30px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right;
}

.text-dark {

    color: #fff !important;

    h3 {
        font-size: 26px;
        font-family: 'arial black';
    }

}

.chart-container {
    background-color: #fff;
    position: relative;
    top: 179px;
}

.col {
    margin-bottom: 13px;
}

.card-chart {
    // display: inline-block;
    border-radius: 2px;
    border-color: rgb(46, 46, 46);
}

@media (min-width: 1200px){.col-lg-3 {
    width: 25%;
    float: left;
}}

@media (min-width: 1200px){
.col-lg-3, .col-lg-6 {
    float: left;
}}

@media (min-width: 1200px){
    .container{
        max-width: 100%;
    }
}

@media (max-width: 768px){
    .col-md-2 {
      width: 50%;
      display: inline-block;
  }
  }

@media (max-width: 425px){
.col-md-2 {
    width: auto;
    display: block;
}
}

@media (min-width: 1440px){
.col-md-2 {
    width: 25%;
    display: inline;
}
}